<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815815905054-jvl5gig7q1n6o8vigpcrhn7if291hjhq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815815905054-jvl5gig7q1n6o8vigpcrhn7if291hjhq</string>
	<key>API_KEY</key>
	<string>AIzaSyDAgpVwJCK60aweVpnyvwJHlr1J9TmaFaE</string>
	<key>GCM_SENDER_ID</key>
	<string>815815905054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.findspirit</string>
	<key>PROJECT_ID</key>
	<string>findsprit</string>
	<key>STORAGE_BUCKET</key>
	<string>findsprit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815815905054:ios:1723012518dce684cbc30f</string>
</dict>
</plist>